<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpigeon.book">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk android:minSdkVersion="8"></uses-sdk>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <!--分享-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b866e98a40fa36fb8000038" />

        <!--qq完整版：-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105989530" />
            </intent-filter>

        </activity>

        <!-- android:screenOrientation="portrait"   8.0 闪退-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <provider
            android:name="com.base.util.MyFileProvider"
            android:authorities="com.cpigeon.book.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cpigeon.book.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="eaa472f5b6b36270351a48f1e4fa36d6" />

        <activity
            android:name=".module.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.base.FragmentParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.launch.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.launch.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.SearchFragmentParentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".module.select.SearchAssActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.select.SearchLoftActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.foot.SearchFootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.foot.SearchCountyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".module.order.OrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.basepigeon.BaseSearchPigeonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.photo.PigeonPhotoHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".module.menu.message.MsgActivity" />
        <activity
            android:name=".module.trainpigeon.SearchTrainPigeonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.trainpigeon.SearchPigeonToFlyBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.homingpigeon.SearchMyHomingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.feedpigeon.SearchFeedPigeonRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.feedpigeon.FeedPigeonRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.makebloodbook.SearchBreedPigeonToMakeBookActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.photo.SearchFootToPhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.pigeonleague.PigeonMatchDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.pigeonleague.SearchPigeonToLeagueActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.play.PlayFootListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.basepigeon.SearchPigeonOrFootActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.goodpigeon.SearchGoodPigeonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.breeding.SearchBreedingFootActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.breeding.OffspringSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.sharehall.SearchSharePigeonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.select.SearchPigeonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity android:name=".module.menu.smalltools.shootvideo.AtAnyTimeShootingActivity" />
        <activity android:name=".module.menu.smalltools.shootvideo.RecordedActivity3" />
        <!--单点登录-->
        <service android:name=".service.SingleLoginService"></service>
        <!--极光推送-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">

        </service>
        <!--友盟-->

        <activity
            android:name="com.base.util.hipermission.PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Permission_Dialog" />
        <activity android:name=".module.select.SearchFootRingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".module.makebloodbook.PreviewsBookActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

    </application>

</manifest>